<section class="contact-filter">
    <p>contact-filter works!</p>
    <form action="">
        <!-- <input 
        [(ngModel)]="contactFilter.term"
         (ngModelChange)="onSetFiltecr()" 
         type="text" name="term"
        id="term"
        placeholder="Search a contact"> -->

            <input 
        [(ngModel)]="contactFilter.term"
        (ngModelChange)="onSetFilter()" 
         type="text" name="term"
        id="term"
        placeholder="Search a contact by name">
    </form>

</section>